:root{


    /* ============ COLORS ============ */
    --background-color: #F5F5F5;

    
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}


/* BASE STYLE */

body{
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}

#header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--background-color);
    box-shadow:  0px 6px 20px 3px rgba(136, 134, 134, 0.2);
    
}

#navbar{
    transition: all 0.3s ease-in-out;

}

.navbar_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    padding: 0 80px;
    
}

.nav__list{
    display: flex;
    column-gap: 40px;
    justify-content: flex-end;
    align-items: center;

}

.logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo__img{
    height: 40px;
    
    
}

.logo__text{
    color: #000000;
    font-size: 2em; 
    letter-spacing: -0.5px;
}

.logo__img, 
.logo__text:hover{
    cursor: pointer;
}

.nav__link{
    color: #000000;
    font-weight: 500;
    transition: all 0.2s;
}

.nav__link:hover ,
.nav__link:focus{
    color: #0D47A1;
}


.checkbtn{
    font-size: 30px;
    color: #000;
    line-height: 80px;
    cursor: pointer;
    position: absolute; 
    top: -5px;
    right: 80px;
    display: none;
}


.closebtn{
    font-size: 30px;
    color: #000;
    line-height: 80px;
    cursor: pointer;
    position: absolute; 
    top: -5px;
    right: 80px;
    display: none;
}

#check{
    display: none;
}


#btn{
    color: #fff;
    background-color: #0D47A1;
    padding: 8px 20px;
    border-radius: 1000px;
    font-size: 1em;
    transition: 0.2s;
}


#btn:hover{
    background-color: #2d5ea8;
}

.divider{   
    margin: 0 auto;
}

.welcome__content{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#welcome__img img{
    border-radius: 50%;
    border: 2px solid #0d47a1;
    
}
    

#welcome-section{
    display: flex;
    padding-top: 50px
}

#welcome__name {
    padding: 30px;
    text-align: center;
    
}


#welcome__name p{
    line-height: 2em;
}

#social-media{
    text-align: center;
}

.social-icons{
    margin: 15px;
}


#welcome__name h1{
    font-weight: 600;
    font-size: 2.5em;
    text-transform: capitalize;
}

#welcome__name span:first-child{
    color: #0D47A1;
    
}

#projects{
    background-color: #DCDCDC;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    
}

.project_content{
    margin: 10px;
}

.project__heading{
    padding: 30px;
    text-align: center;
}

.project_head{
    color: #0D47A1
}
.project_head:active{
    color: #0D47A1;
}

.card-project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 30px;
}

.used__language{
    font-size: 14px;
    color: #403E3E;
}

.project-tile{
    flex-shrink: 0;
    min-width: 320px;
    max-width: 200px;
    min-height: 280px;
    max-height: 100px;
    flex-basis: auto;
    overflow: hidden;
    text-align: center;
    background-color: #C3C3C3;
    object-fit: cover;
    padding: 15px;
    border-radius: 10px;
    line-height: 1.6;
    
    
}

.project_description{
    font-size: 12px;
}

.card-image{
    width: 100%;
    height: 100%;
}

.card-description{
    margin-top: 20px;
}

#contact-me{
    width: 100%;
    height: auto;
}

.contact{
    font-weight: 500;   
    color: #1A1A1A;
}   

.contain{
    margin: 20px;
}

.contact__list{
    padding-left: 8%;
    padding-top: 4%;
}

.contact__list h4, .project-subtitle{
    color: #413e3e;
    font-size: 16px;
}


.contain_phone_number, .contain_email_address{
    padding: 10px;
    
}

.contact_details{
    font-size: 14px;
}

.fa-lg{
    color: #0D47A1;
    cursor: pointer;
    transition: 0.2s;
    letter-spacing: 15px;
}

.fa-lg:hover{
    color: #2d5ea8;
    cursor: pointer;
}

#footer{
    background-color: #C3C3C3;
    width: 100%;
    height: auto;
    
}

.footer__info{
    width: 100%;
    height: 55px;
    display: flex;
    background-color: #C3C3C3;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.contact-info{
    text-align: center;
    
}

.copyright{
    font-size: 12px;
    font-weight: 600;
}

@media (min-width: 1440px){

    
    
    .social-icons{
        font-size: 1.2em;
    }

    .divider{
        width: 80%;
    }

    #welcome__img img{
        width: 400px;
    }

    #welcome__name h1{
        font-size: 3em;
    }

    #welcome__name p{
        font-size: 1.3em;
    }

    .project-title{
        font-size: 1.7em;
    }

    .project-tile{
        min-width: 350px;
        min-height: 330px;
    }

    .project_description{
        font-size: 1.1em;
    }

    .project_head{
        font-size: 1.2em;
    }

    .contact__list h2{
        font-size: 2em;
    }

    .contain i{
        font-size: 1.7em;
    }

    .contact__list h4, .project-subtitle{
        font-size: 1.4em;
    }

    .contact{
        font-size: 1.3em;
    }

    .contact_details{
        font-size: 1.2em;
    }

    .copyright {
        font-size: 1em;
    }
}


@media (max-width: 768px) {

    html,body{
        width: auto;
        overflow-x: hidden;
    }
    
    

    #navbar{
        width: 100%;
        height: 30vh;
        position: fixed;
        background-color: #F5F5F5;
        left: -100%;
        top: 60px;
        padding: 25px 0 25px;
        z-index: 1000;
        box-shadow:  0px 6px 20px 5px rgba(0, 0, 0, 0.2);
        transition: left 0.3s ease; 
    
    }

    #check:checked ~ #navbar{
        left: 0;
    }

    .nav__list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav__link{
        font-size: 20px;
    }

    .checkbtn{
        display: block;
    }  
    
    .closebtn{
        display: block;
    }

    #btn{
        font-size: 20px;
        padding: 7px 17px;
        
    }

    
    .divider{
        padding: 41px;
    }

    #welcome__img {
        padding-top: 50px;
    }

    .welcome__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #welcome__img img{
        border-radius: 50%;
        width: 300px;
    }

    #welcome__name h1, span,{
        font-size: 18px;
    }

    #welcome__name p{
        font-size: 14px;
    }

    .project-tile{
        line-height: 1.5;
    }

    .project-title{
        font-size: 18px;
    }

    .project_description{
        font-size: 13px;
    }

    .contact__list h2, .contact{
        font-size: 18px;
    }

    .contact__list h4{
        font-size: 16px;
    }

    .social-icons{
        font-size: 1.3em;
    }

    #footer-icons{
        font-size: 14px;
    }


}


@media (max-width: 600px){



    #welcome__img img{
        width: 250px;
        
    }

    .contact__list{
        padding: 0;
        margin: 25px;
    }
    
    .project-title, .project-subtitle{
        text-align: center;
    }

    .card-project{
        margin-top: 1em;
    }

    #welcome-section{
        
        font-size: 14px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    #welcome__img{
        padding-top: 80px;
    }

    #social-media{
        padding-top: 10px;
    }
}


@media (max-width: 457px){

    

    .navbar_content{
        padding: 0 20px;
    }

    .checkbtn{
        line-height: 70px;
        right: 25px;
    }

    .closebtn{
        right: 25px;
    }

    #welcome__img img{
        width: 230px;
    }

    .divider{
        padding-top: 40px;
        
    }
    
    #social-media{
        padding: 0;
    }
    
    #welcome__name h1, span,{
        font-size: 30px;
    }

    #welcome__name p{
        font-size: 14px;
    }

    #projects{
        margin-top: 30px;
    }

    .project-tile{
        min-width: 100%;
        min-height: 330px;
    }

    .contact__list h2, .contact{
        font-size: 16px;
    }

    .contact__list h4{
        font-size: 14px;
    }

    .contain{
        margin: 10px;
    }

    .footer__info{
        height: 90px;
        flex-direction: column;
    }

    .copyright{
        font-size: 14px;
    }

}

@media (max-width: 320px){

    

    .logo__text{
        font-size: 1.3em;
    }

    #welcome-section h1, span{
        font-size: 30px;
    }

    #welcome__name{
        padding: 15px;
    }

    #social-media{
        padding: 0;
    }

    #welcome__name span:first-child{
        display: block;
    }

    .project__heading{
        padding: 10px;
        padding-top: 40px;
    }

    .project-tile {
        min-height: 270px;
    }


    .contact__list h4{
        font-size: 12px;
    }

}